@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
  padding: 10px 15px;
    margin: 10px;
    background: #2a2a2a;
    color: #fefefe;
    font-weight: 700;
    letter-spacing: 1.4px;
    font-size: 17px;
    right: 100px;
    border-radius: 20px;
    cursor: pointer;
    height: 50px;
 
}


.sound-container, .iframe-container {
  background-color: rgb(39 39 42);
  
}

.button-info{
  visibility: hidden;
}
.button-volume{
  padding: 10px 10px;
    margin: 20px;
    background: #2a2a2a;
    color: #fefefe;
    font-weight: 700;
    letter-spacing: 1.4px;
    font-size: 17px;
    right: 100px;
    border-radius: 100%;
    cursor: pointer;
}

.sublime {
  
  p, span{
    color: black !important;
  }
  
}



@media screen and (min-width:1020px) {
  .sublime-container{
    background-color: rgb(39 39 42);
    opacity: 0.5;
  }


  .sublime-bg{
    background-color: rgb(39 39 42);
   
  }
  .sublime {
    p, span{
      color: white !important;
    }
  }
  .button{
 
      margin: 20px;
     
   
  }

  .button-info{
    padding: 10px 20px;
    margin: 10px;
    background: #2a2a2a;
    color: #fefefe;
    font-weight: 700;
    letter-spacing: 1.4px;
    font-size: 17px;
    right: 100px;
    border-radius: 20px;
    cursor: pointer;
    height: 50px;
    visibility: visible;
  }
  
}